/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Aug, 2018, 11:48:35 AM
    Author     : Kamarudduja
*/

.login_override{
    color: #59595c !important;
}
.separator_override{
    border-top: 1px solid #59595c !important;    
}

.body_override {
    background: #2F3032 !important;
}

.nav_title {
    background: #2F3032 !important;
    padding-left: 35px;
    padding-top: 11px;
}

.nav_title a {
    font-size: 0px;
    background: url(../images/imdad_logo.png) no-repeat 0 0;
    width: 230px;
    height: 76px;
    display: block;
}

.nav.side-menu > li.active > a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0!important;
    background: linear-gradient(#2F3032,#1F2022),#3F4042 !important;
/*    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;*/
}


element.style {
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
/*body {
     color: #2F3032 !important;
    }*/
